#pixels{
  margin: 0 auto;
}
#pixels .pixel {
  display: block;
  float: left;
  -webkit-box-shadow: inset 2px 2px 0px rgba(255, 255, 255, 0.2);
  -webkit-transition: background-color 1s ease;
}

#pixels .pixel:hover {
  opacity: 0.6;
}
